    .block_best_material_post .f_pic {
        margin-bottom: 0px;
    }
    .block_best_materials .flex-direction-nav li {
        display: block;
        position: absolute;
        right: 0px;
        top: 22px;
    }
    .my_article {
        margin-bottom: 20px;
        float: left;
        width:50%;
    }
    .my_article_list {
        width: 392px;
        float: left;
    }
    .my_article_list .title {
        margin-bottom: 10px;
        padding-bottom: 10px;
        /*background: url(./layout/images/line_5.gif) repeat-x left bottom;*/
    }
    .my_article_list .title p {
    padding-bottom: 0px;
    color: #1e1e1e;
    font-weight: bold;
    text-transform: uppercase;
    }
    .my_article_list .popular_posts ul {
        padding-top: 17px;
        display: block;
    }
    .my_article_list li:first-child {
    margin: 0px;
    padding: 0px;
    border: 0px;
    }
    .my_article_list li {
    margin-top: 13px;
    padding-top: 12px;
    display: block;
    border-top: 1px solid #efefef;
    }
    .my_article_list a:hover {
    color: #f24024;
    text-decoration: none;
    }
    .my_article_list a {
        display: block;
        width:100%;
        color: #343434;
        font-weight: bold;
    }
    .my_article_list a span {
        font-size: 11px;
        color: #868686;
        font-weight: normal;
        float:right;
    }
    .bio ul {
        margin-top: 5px;
    }
    .bio ul li {
        font-size: 12px;
        color:#fff;
        line-height: 20px;
        word-spacing: 1em;
    }
    .bio ul li a{
        font-size: 12px;
        color:#fff;
        line-height: 20px;
        word-spacing: 1em;
    }
    .bio ul li a:hover {
        color:#f24024;
    }
    
    .my_article_list a span.article-title {
        color: #2d2d2d;
        width: 70%;
        display: inline-block;
        float: none;
        overflow: hidden;
        font-weight: 500;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .sidebar .block_sidebar_menu ul li.active a {
        color:#f24024;
    }
    
    .block_registration .col_3 {
        width:100%;
    }
    .block_registration .col_3 ul li{
        line-height: 24px;
        font-size: 12px;
        color:#f24024;
    }
    #captcha {
        display: inline-block;
        width:100px;
        border:1px solid #e6e6e6;
        margin-left:0;
    }